.galaxy {
    #galaxy-container {
        display: block;
    }

    .ampm {
        display: none;
    }

    .selection-box #clock-format-selector button {
        //opacity: 0;
        // cursor: default;

        // button {
        //     cursor: default;
        //     pointer-events: none;
        // }
    }

    body.screen-saving-color &.screen-saving {
        opacity: .7;
        transition: all 2s $cb-default;
        color: $color-white;
    }

    body.high-contrast &.screen-saving {
        opacity: 1;
        transition: all 2s $cb-default;
    }
}

#galaxy-container {
    display: none;

    overflow: visible;
    position: relative;
    transition: top 2s $cb-default, margin-bottom 1s $cb-default;

    &.galaxy-margin {
        margin-bottom: $cc-margin-bottom;
    }

    @include phones {
        top: 0;
    }

    #galaxy-space {
        position: relative;

        #galaxy-dot {
            border-radius: 50%;
            width: .5vw;
            height: .5vw;
            background-color: darken($color: $color-white, $amount: 20%);
            transform: translate(-25%, -25%);
        }

        .galaxy-time {
            position: absolute;
            background-color: $color-bg;
            border-radius: 50%;
            padding: 5px;
            z-index: 5;
            transform: translate(-50%, -50%);
        }

        svg {
            overflow: visible;
            z-index: 2;

            path {
                stroke: $color-white;
                stroke-width: 2px;
                fill: none;
            }
        }

        .orbit-container {
            position: absolute;
            top: -50%;
            left: 25%;
            transform: translate(-50%, -50%);
        }
        
        #galaxy-hours {
            #galaxy-h-n {
                font-size: 2.2vw;
                transition: top .3s linear, left .3s linear;

                @include phones {
                    font-size: 20px;
                }
            }

        }

         #galaxy-min {
             #galaxy-m-n {
                font-size: 1.3vw;
                transition: top .3s linear, left .3s linear;

                @include phones {
                    font-size: 15px;
                }
            }
        }

         #galaxy-sec {
             #galaxy-s-n {
                font-size: 1vw;
                transition: top .3s ease, left .3s ease;

                @include phones {
                    font-size: 10px;
                }
            }
        }
    }
}