.globe {
    #clock-container {
        position: relative;

        &.screen-saving .big-clock-container {
            transform: translate(0, 25%) translateZ(0);

            @include phones {
                transform: translateY(0);
            }
        }

        #clock-inner-container {
            position: absolute;
            bottom: 0;
            margin-bottom: - ($cc-margin-bottom / 1.5);
            width: 60vw;
            text-align: center;
            color: $color-white;
            transition: opacity .5s linear;

            @include phones {
                width: 80vw;
                margin-bottom: - ($cc-margin-bottom / 1.2);
            }
        }

        body.screen-saving-color &.screen-saving {
            #clock-inner-container {
                opacity: 0.8;
            }
        }

        body.high-contrast &.screen-saving {
            #clock-inner-container {
                opacity: 1;
            }
        }
    }

    .big-clock-container {
        width: 100%;
        margin: auto;
        position: relative;
        transition: transform 1.8s $cb-default;

        .big-clock{
            position: initial;
            margin: 0;
            font-size: 7vw;
            bottom: 0;
            left: 50%;

            @include phones {
                font-size: 12vw;
            }
        }

        #city-icon {
            width: 90%;
            height: 225%;
            opacity: 0.1;
            position: absolute;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            overflow: visible;
            transform: translate(5%, -115%) translateZ(0);

            // @media (max-width: $phone) {
            //     width: 90%;
            //     transform: translate(0%, -110%) translateZ(0);
            // }
        }
    }

    .city-name {
        display: block;
    }

    #half-circle {
        display: block;

        #half-circle-path {
            stroke: inherit;
        }
    
        #half-circle-dashed {
            display: block;
            stroke: rgb(29, 29, 29);
            stroke-dasharray: 1vw;
        }
    
        #half-circle .screen-saving{
            stroke: inherit;
        }
    
        #half-circle-dashed .screen-saving{
            stroke: rgb(29, 29, 29);
        }
    }
}

#half-circle {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;

    #half-circle-dashed {
        display: none;
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#sky-icon {
    position: absolute;
    width: $sky-icon-size;
    height: $sky-icon-size;
    font-size: $sky-icon-size;
    font-family: 'icomoon' !important;
    font-style: normal;
    display: none;
    margin: 0;
    padding: 0;
    will-change: transform;

    @include phones {
        font-size: $sky-icon-size-phones;
        width: $sky-icon-size-phones;
        height: $sky-icon-size-phones;
    }

    &.sun:before {
        content: "\e904";
        color: #fc0;
    }

    &.moon:before {
        content: "\e903";
        color: #95f;
    }
}

.globe #sky-icon {
    display: block;
    opacity: 0;
}