.landscape-background {
    opacity: 1 !important;
    overflow: hidden;

    video {
        width: 100%;
        height: auto;
    }
}

.landscape {
    .big-clock {
        
        &.video-loaded {
            &.dark {
                color: transparentize($color-white, 0.1) !important;
            }

            &.light {
                color: transparentize(#000, 0.1) !important;
            }
        }

        @include phones {
            font-size: 25vw;
            font-weight: 500;
        }
    }
}