.landscape-background {
    opacity: 1 !important;
    overflow: hidden;

    video {
        width: 100%;
        height: auto;
    }
}

.landscape {
    &.video-loaded {
        &.dark {
            #big-clock{
                color: transparentize($color-white, 0.1) !important;
            }

            .selection-box {
                color: transparentize($color-white, 0.1) !important;
            }
        }

        &.light {
             #big-clock{
                color: transparentize(#000, 0.1) !important;
            }

            .selection-box {
                color: transparentize(#000, 0.1) !important;
            }
        }
    }
}