.landscape-background {
    opacity: 1 !important;
    overflow: hidden;

    video {
        width: 100%;
        height: auto;
    }
}

.landscape {
    .big-clock {
        
        &.video-loaded {
            &.dark {
                color: $color-white !important;
            }

            &.light {
                color: black !important;
            }
        }

        @include phones {
            font-size: 25vw;
            font-weight: 500;
        }
    }
}