{{ $style := resources.Get "scss/index.scss" | resources.ExecuteAsTemplate "css/style.tmp.css" .}}
{{ $scssOptions := (dict "targetPath" "css/style.css" "outputStyle" "expanded" "enableSourceMap" true) }}
{{ $cssBundle := $style | toCSS $scssOptions | fingerprint }}

{{ if not site.IsServer }}
{{ $scssOptions = (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" false) }}
{{ $cssBundle = $style | toCSS $scssOptions | fingerprint | minify}}
{{ end }}

{{ return $cssBundle }}