<div id="alarm-box" class="setting-box">
    <dt>
        <i id="alarm-icon-settings" class="icon-clock-white bg-center settings-icon"><span class="path1"></span><span
                class="path2"></span></i>
        <span class="settings-title">Alarm</span>
    </dt>
    <dd>
        <span id="alarm-lable" class="settings-text">Set an alarm</span>
        <div class="settings-btn-container">
            <button id="set-alarm-btn" class="settings-btn settings-text activated transp-btn" alt="Set Alarm"></button>
        </div>
    </dd>
    <p class="settings-hint">
        <i class="lnr lnr-clock"></i>
        <span>Set an alarm that wakes you up with beautiful colors. And don't worry if you accidentally close the tab, I'll keep that in mind :)</span>
    </p>
    <dd id="alarm-notif-box" class="nested unavailable">
        <span class="settings-text">Send a notification when the alarm rings</span>
        <div class="settings-btn-container">
            <button id="alarm-notif-on" class="settings-btn settings-text transp-btn" data-option="on" alt="Alarm notifications on">
                ON
            </button>
            <button id="alarm-notif-off" class="settings-btn settings-text activated transp-btn" data-option="off"
                alt="Alarm notifications off">
                OFF
            </button>
        </div>
    </dd>
    <p class="settings-hint">
        <i class="lnr lnr-alarm"></i>
        <span>I can send you a notification if you are doing something else and you don't have Relaxing Clock opened in
            front of you</span>
    </p>
</div>