<div id="blink-box" class="setting-box">
    <dt>
        <i id="blink-icon" class="lnr lnr-eye settings-icon blink"></i>
        <span class="settings-title">Blinking dots</span>
    </dt>
    <dd>
        <span class="settings-text">Let the dots pulsing at rhythm</span>
        <div class="settings-btn-container">
            <button aria-label="blink on" id="blink-on"
                class="settings-btn settings-text activated transp-btn" data-option="on" alt="blink on">
                ON
            </button>
            <button aria-label="blink off" id="blink-off" class="settings-btn settings-text transp-btn"
                data-option="off" alt="blink off">
                OFF
            </button>
        </div>
    </dd>
    <p class="settings-hint">
        <i class="lnr lnr-question-circle"></i>
        <span>You can keep the dots fixed if you find them distracting</span>
    </p>
</div>