<div id="presentation-box" class="setting-box">
    <dt>
        <i class="icon-lightbulb settings-icon"></i>
        <span class="settings-title">High contrast</span>
    </dt>
    <dd>
        <span class="settings-text">Keep the colors vibrant</span>
        <div class="settings-btn-container">
            <button  aria-label="high contrast on" id="presentation-on" class="settings-btn settings-text activated transp-btn" data-option="on"
                alt="High contrast on">
                ON
            </button>
            <button aria-label="high contrast off"  id="presentation-off" class="settings-btn settings-text transp-btn" data-option="off" alt="High contrast off">
                OFF
            </button>
        </div>
    </dd>
    <p class="settings-hint">
        <i class="lnr lnr-question-circle"></i>
        <span>Keep the colors bright and vivid when the screen saver is active, super useful if you want
            <strong>Relaxing Clock</strong> to shine</span>
    </p>
</div>