<div id="pomodoro-box" class="setting-box">
    <dt>
        <i id="pomodoro-icon" class="settings-icon"><span class="icon-tomato-22"><span class="path1"></span><span class="path2"></span><span
                    class="path3"></span><span class="path4"></span><span class="path5"></span></span></i>
        <span class="settings-title">Pomodoro Timer</span>
    </dt>
    <dd id="pomodoro-lable-box">
        <span id="pomodoro-lable" class="settings-text">Start the timer</span>
        <div class="settings-btn-container">
            <button id="set-pomodoro-btn" class="settings-btn settings-text activated transp-btn" alt="Start timer"></button>
        </div>
    </dd>
    <dd id="pomodoro-long-box" class="nested">
        <span class="settings-text">Longer sessions</span>
        <div class="settings-btn-container">
            <button id="pom-long-on" class="settings-btn settings-text transp-btn" data-option="on" alt="Longer session on">
                ON
            </button>
            <button id="pom-long-off" class="settings-btn settings-text activated transp-btn" data-option="off"
                alt="Longer session off">
                OFF
            </button>
        </div>
    </dd>
    <dd id="pomodoro-notif-box" class="nested unavailable">
        <span class="settings-text">Send a notification on each cycle</span>
        <div class="settings-btn-container">
            <button id="pom-notif-on" class="settings-btn settings-text transp-btn" data-option="on" alt="Longer session on">
                ON
            </button>
            <button id="pom-notif-off" class="settings-btn settings-text activated transp-btn" data-option="off"
                alt="Longer session off">
                OFF
            </button>
        </div>
    </dd>
    <p class="settings-hint">
        <i class="lnr lnr-question-circle"></i>
        <span>The Pomodoro Timer efficiently splits your workflow into a 25-minutes working session and a 5-minutes
            break. <strong>Relaxing Clock</strong> can also set a longer 45/15-minutes session if you really are an
            hard-worker</span>
    </p>
    <audio id="pomodoro-sound">
        <source src="/media/pomodoro.mp3" type="audio/mpeg">
    </audio>
</div>