<div id="remote-time">
    <dt>
        <i class="lnr lnr-earth settings-icon"></i>
        <span class="settings-title">Accurate time</span>
    </dt>
    <dd>
        <span class="settings-text">Get time from the internet </span>
        <div class="loader-container remote-time-loader">
            <div class="loader line-scale disp-none"></div>
        </div>
        <div class="settings-btn-container">
            <button id="remote-time-on" class="settings-btn settings-text transp-btn" data-option="on" alt="Server time on">
                ON
            </button>
            <button id="remote-time-off" class="settings-btn settings-text activated transp-btn" data-option="off"
                alt="Server time off">
                OFF
            </button>
        </div>
    </dd>
    <p class="settings-hint">
        <i class="lnr lnr-warning"></i>
        <span>We use <strong>ipapi.co</strong> to guess your position based on where you are connecting from. This is not
            100% reliable, especially if you are connecting with a VPN</span>
    </p>
</div>