<div id="spotify-logout-box" class="setting-box">
    <dt>
        <i class="fab fa-spotify spotify-icon"></i>
        <span class="settings-title">Spotify</span>
    </dt>
    <dd id="spotify-status-box">
        <span id="spotify-status-text" class="settings-text">Collecting data... </span>
        <button id="spotify-logout-btn" class="settings-btn settings-text activated transp-btn" alt="Login button">
            Login
        </button>
    </dd>
    <p class="settings-hint">
        <i class="lnr lnr-music-note"></i>
        <span>You can also control the music with any Spotify App! Just select <strong>Relaxing Clock</strong> in
            Spotify Connect!</span>
    </p>
    <dd id="autoplay-box" class="nested unavailable">
        <span class="settings-text">Automatically play relaxing music</span>
        <div class="settings-btn-container">
            <button id="autoplay-on" class="settings-btn settings-text transp-btn" data-option="on" alt="Autoplay on">
                ON
            </button>
            <button id="autoplay-off" class="settings-btn settings-text transp-btn" data-option="off" alt="Autoplay off">
                OFF
            </button>
        </div>
    </dd>
    <dd id="playlist-box" class="nested unavailable expandable">
        <div class="visible-item full-w">
            <span class="settings-text">
                <span id="default-playlist-type" class="capitalize">Playlist:</span> <span id="default-playlist-text">[Mix #1]</span>
            </span>
            <button id="expand-playlist" class="settings-btn-container transp-btn">
                <i id="expand-playlist-arrow" class="fas fa-chevron-down settings-text arrow transp-btn"></i>
            </button>
        </div>
        <div class="full-w">
            <ul id="playlist-list-box" class="hidden-list skinny compact full-w no-scrollbar">
                <li class="searchbox">
                    <div class="full-w">
                        <span>
                            <input type="text" id="spotify-search" autocomplete="off" class="playlist-search settings-text transp-btn" value="">
                        </span>
                        <p class="settings-hint search-hint">
                            <i class="lnr lnr-magnifier"></i>Use the searchbar for more content
                        </p>
                    </div>
                </li>
                <li id="searchloader" class="list-type settings-text">
                    <div class="loader-container">
                        <div class="loader line-scale"></div>
                    </div>
                </li>
                <li class="list-type list-item settings-text">Loading...</li>
            </ul>
        </div>
    </dd>
    <p class="settings-hint">
        <i class="lnr lnr-rocket"></i>
        <span>Pro Tip: <strong>Right</strong> click on the play button to skip tracks; <strong>scroll</strong> with the
            mouse wheel on the player to set the volume.</span>
    </p>
</div>