@import './clockStyles/analog';
@import './clockStyles/classic';
@import './clockStyles/focused';
@import './clockStyles/globe';
@import './clockStyles/metro';
@import './clockStyles/galaxy';

main {
    &.metro {
        #clock-background  {
            opacity: 0.1 !important;
        }
    }

    &.landscape {
        #clock-background  {
            opacity: 1 !important;
        }
    }

    #clock-background {
        opacity: 0;
        display: block !important;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        transition: opacity .5s $cb-default;
    }
}

.center-container {
    position: relative;
    height: 15vw;
    transition: all 1.5s $cb-default;
}

#clock-container {
    margin-bottom: $cc-margin-bottom;
    white-space: nowrap;
    flex-direction: column;
    height: inherit;
    animation: comeIn 2s $cb-default;
}

#clock-inner-container {
    position: relative;
}

.big-clock {
    margin: 0;
    height: fit-content;
    width: fit-content;
    font-family: 'Source Code Pro', monospace;
    font-size: 15vw;
    font-weight: 500;
    text-align: center;
    z-index: 2;
    opacity: 1;
    display: inline-block;
    transform: none;
    white-space: nowrap;

    #city-icon {
        opacity: 0;
    }

    &.toscreensave {
        height: 100vh;
        margin: 0;
    }
}

.ampm {
    display: inline-block;
    margin-left: 2vw;
    font-size: 1.2vw;
    color: inherit;
    text-align: center;
}

#city-name {
    flex-direction: column;
}

#ampm.screen-saving {
    color: inherit;
}

// #local-time {
//     display: none;
// }

@keyframes comeIn {
    0% {transform: translateY(-50px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

/* Alternative clock styles */
.city-name {
    display: none;
    width: 100%;
    margin-top: .2vw;
    text-align: center;
    font-size: 1.1vw;
}

/* End of Alternative clock styles */