.globe {
    .big-clock-container {
        #city-icon {
            &.beijin {
                background-image: url('/svg/cities/beijin.svg');
            }
            &.delhi {
                background-image: url('/svg/cities/delhi.svg');
            }
            &.hongkong {
                background-image: url('/svg/cities/hongkong.svg');
            }
            &.london {
                background-image: url('/svg/cities/london.svg');
            }
            &.newyork {
                background-image: url('/svg/cities/newyork.svg');
            }
            &.paris {
                background-image: url('/svg/cities/paris.svg');
            }
            &.rome {
                background-image: url('/svg/cities/rome.svg');
            }
            &.sydney {
                background-image: url('/svg/cities/sydney.svg');
            }
            &.tokyo {
                background-image: url('/svg/cities/tokyo.svg');
            }
            &.toronto {
                background-image: url('/svg/cities/toronto.svg');
            }
        }
    }
}
