/* Music box */
#music-box {
    background-color: $color-bg;
    color: $color-white;
    bottom: 0;
    left: 0;

    main.metro &.logged {
        background-color: black;
    }

    &.unsupported {
        display: none !important;
    }
    
    &.hide {
        opacity: 0 !important;
        cursor: default !important;
        pointer-events: none !important;
    }

    &.unlogged {
        transition: opacity 1s linear;
        border: none;

        .sp-btn {
            display: none;
        }

        &.screen-saving {
            opacity: 0;
        }
    }

    &.logged {
        border: $sp-border-box solid;
        border-color: transparent;
        transition: border-color 1s $cb-default, opacity 1s $cb-default, color 1s $cb-default;

        main.metro &.loaded {
            border-color: transparent !important;

            #song-info {
                background-color: black !important;
            }
        }
        
        &.loaded {
            border-color: $color-white;

            &.busy {
                button {
                    opacity: 0.5;
                    pointer-events: none !important;
                }
            }

            #song-info {
                display: block;
                position: absolute;
                background-color: lighten($color-bg, $amount: 3%);
                bottom: 120%;
                left: - $sp-border-box;
                width: 25vw;
                height: 10vw;
                overflow: hidden;
                transition: opacity .2s $cb-default;
                border-radius: 0.7vw;
                font-size: $sp-art-fs;

                @include md-screen {
                    width: 35vw;
                    height: 15vw;
                    font-size: $sp-art-fs * 1.5;
                }

                @include phones {
                    display: none;
                }

                #song-info-thumb {
                    height: 100%;
                    width: 50%;
                    border-radius: 0.7vw;
                    background-color: transparent;
                    position: absolute;

                    #song-info-thumb-placeholder {
                        font-size: 5vw;
                        color: inherit;
                    }
                }

                #song-details {
                    width: 48%;
                    display: flex;
                    position: absolute;
                    right: 0;
                    padding: .1vw;
                    flex-flow: column;
                    justify-content: flex-start;
                }
            }

            &.screen-saving {
                color: inherit !important;
                border-color: inherit;

                &.error {
                    border-color: transparent !important;
                }
            }
        }

        .sp-btn {
            font-size: $sp-btn-fs;

            @include md-screen {
                font-size: $sp-btn-fs * 1.5;
            }
    
            @include phones {
                font-size: $sp-btn-fs * 1.5;
            }

            @include xs-phone {
                font-size: $sp-btn-fs * 2.3;
            }
        }

        .far.fa-heart{
            color: rgba(245, 245, 245, 0.45);
            transition: color 1s linear;

            body.screen-saving-color &.screen-saving {
                color: rgba(245, 245, 245, 0.25);
            }

            body.high-contrast &.screen-saving {
                color: rgba(245, 245, 245, 0.45);;
            }
        }
        
        .fas.fa-heart {
            color: rgb(29, 185, 84);

            body.screen-saving-color &.screen-saving {
                color: rgba(29, 185, 84, 0.443);
            }

            body.high-contrast &.screen-saving {
                color: rgb(29, 185, 84);
            }
        }
        
        .music-btn {
            font-size: $settings-font-size;
        }

        .play-btn {
            cursor: pointer;
            color: inherit;
            margin-left: 5px;
            position: relative;

            .loader-container {
                position: absolute;
                opacity: inherit;

                .loader {
                    overflow: hidden;
                    white-space: nowrap;
                    position: relative;
                    z-index: 2;
                    pointer-events: none;
                    cursor: default;
                }
            }
        }
        
        .play-btn:focus {
            outline: none;
            border: none;
            background-color: transparent;
        }

        #mute-warning {
            position: absolute;
            left: 100%;
            top: 50%;
            transition: opacity.2s linear;
            transform: translate(1vw, -50%);
        }

        &.screen-saving {
            color: inherit !important;
        }

        &.error {
             border-color: transparent !important;

            #spotify-placeholder {
                opacity: 1 !important;
            }

            #spotify-track-info {
                display: none !important;
            }
        }
    }

    &.error {
        border-color: transparent !important;

        #spotify-placeholder {
            opacity: 1 !important;
        }

        #spotify-track-info {
            display: none !important;
        }
    }

    #song-info {
        display: none;
    }

    #spotify-link {
        left: 0;
        flex-grow: 0;

        &.screen-saving {
            color: inherit !important;
        }
        
        .spotify-icon {
            width: fit-content;
            margin-right: .5vw;
            transition: opacity 1s linear;
            border-radius: 3px;

            &.has-cover {
                color: transparent !important;
            }

            body.screen-saving-color &.screen-saving {
                opacity: .5;
            }

            body.high-contrast &.screen-saving {
                opacity: 1;
            }
        }
    }
    
    #spotify-text {
        flex-grow: 1;
        min-height: 5vh;
        display: flex;
        align-items: center;
        
        #spotify-placeholder {
            opacity: 1;

            #toker-err-msg{
                text-decoration: underline;
                color: $color-white;
            }
        }

        #spotify-track-info {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: space-between;
            justify-items: center;
            position: absolute;
            white-space: nowrap;
            overflow: hidden;

            #track-name {
                flex-grow: 20;
                font-size: $sp-plh-fs;

                @include md-screen {
                    font-size: $sp-plh-fs * 1.5;
                }
        
                @include phones {
                    font-size: $sp-plh-fs * 1.5;
                }

                @include xs-phone {
                    font-size: $sp-plh-fs * 2.3;
                }
            }
            
            #artist-name {
                font-size: $sp-art-fs;

                @include md-screen {
                    font-size: $sp-art-fs * 1.5;
                }
        
                @include phones {
                    font-size: $sp-art-fs * 1.5;
                }

                @include xs-phone {
                    font-size: $sp-art-fs * 2.3;
                }
            }
        }
    }

    @include md-screen {
        padding: .8vw;
        width: 21vw;
    }

    @include phones {
        padding: .8vw;
        width: 25vw;
    }

    @include xs-phone {
        padding: 1vw;
        width: 35vw;
    }
}

/* End music box */
