/* Selection box */

.selection-box {
    position: relative;
    opacity: 0; 
    color: rgb(245, 245, 245);
    animation: fadeIn 1s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    transition: all 1s linear;
}

.selection-box.screen-saving {
    color: transparent;
    cursor: default !important;
    pointer-events: none !important;
}

.user-style-selection {
    font-size: 1.5vw;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: auto;

    @include phones {
        font-size: 2.5vw;
    }
}

/* Option selector box */

#clock-style-selector {
    width: 100%;
    height: $selection-box-font;
    margin-top: 1vw;
    position: relative;
    overflow: visible;
    white-space: nowrap;
    padding: 0;

    #style-selectors-container {
        width: 15vw;
        height: 100%;
        position: absolute;
        top: 0;

        #style-selector-l {
            left: 0;
            position: absolute;
        }

        #style-selector-r {
            right: 0;
            position: absolute;
        }

        button {
            font-size: $selection-box-font;
            color: inherit;
            position: absolute;
            background-color: transparent;
            border: none;
            cursor: pointer;
            opacity: 1;
            
            z-index: 2;
        
            &.overscroll{
                cursor: default !important;
                opacity: 0.2 !important;
            }
        
            &:focus {
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: none;
            }
        
            &:hover {
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: none;
            }

            @include phones {
                font-size: $selection-box-font-phone;
            }
        }

        @include phones {
            width: 30vw;
        }
    }

    @include phones {
        margin-top: 2.2vw;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.option-name {
    position: absolute;
    display: inline-block; 
    text-align: center;
    width: 100%;
    font-size: $selection-box-font;
    font-weight: 600;
    opacity: 0;
    border: none;

    @include phones {
        font-size: $selection-box-font-phone;
    }
}

.selected {
    opacity: 1;
    border: none;
    transition: opacity .2s linear;
}

#clock-format-selector {
    width: 100%;
    margin-top: 1vw;
    position: relative;
    overflow: visible;
    white-space: nowrap;
    padding: 0;

    .divisor {
        width: 1px;
        height: 1.1vw;
        border-left: 1px solid;
        border-color: inherit;
        visibility: hidden;

        @include phones {
            width: 5px;
        }
    }

    button {
        font-size: $selection-box-font;
        font-style: inherit;
        color: inherit;
        background-color: transparent;
        border: none;
        cursor: pointer;
        opacity: 1;
        padding: 0px .3vw;

        &.unfocus {
            opacity: 0.5;
        }

        &:focus {
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
        }

        @include phones {
            font-size: $selection-box-font-phone;
        }
    }

    @include phones {
        margin-top: 3vw;
    }
}

/* End option selector box*/



/* End Selection box */