@import 'settings-boxes';

.brand-box {
    margin: 15vh 0;
    .brand-image {
        margin: auto;
        display: block;
        height: $settings-title-font-size;

        @include phones {
            height: $settings-title-font-size-phone;
        }
    }
}

#settings-section {
    width: 50%;
    margin: {
        top: 50px;
        left: auto;
        right: auto;
    }
    color: $color-white;
    overflow: visible;

    .setting-box {
        position: relative;
        margin-top: 50px;
    }

    .setting-box:first-child {
        margin-top: 0;
    }

    .expandable {
        flex-direction: column;
        align-items: flex-start;
        border-color: transparent !important;
        position: relative;

        .visible-item {
            display: flex;
            flex-direction: row;
            flex-flow: row nowrap;
            justify-content: space-between;

            .arrow {
                padding-right: 50%;
                color: $color-white;
            }
        }

        .hidden-list {
            overflow-y: hidden;
            overflow-x: auto;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                 padding: $dd-padding;
                 border-radius: $dd-radius - .5vh;
                 margin-top: $dd-margin-top;
                 background-color: lighten($color-bg-settings, 20);
            }

            &.compact {
                display: none;
                pointer-events: none !important;
            }

            @include phones {
                padding-left: 0;
            }
        }
    }

    dl {

        &:last-child {
            margin-bottom: 5vw;
        }

        dt {
            display: flex;
            flex-flow: row nowrap;
            align-content: center;
            align-items: baseline;
            position: relative;


            span {
                font-weight: 600;
                white-space: nowrap;
                margin-left: $dd-margin-left;

                @include phones {
                    margin-left: 20px;
                }
            }
    
            i {
                position: absolute;
                bottom: 100%;
                left: 0;
                transform: translate(-50%, $settings-title-font-size);

                span {
                    margin-left: 0 !important;
                    font-size: inherit;
                }

                @include phones {
                    transform: translate(-50%, $settings-title-font-size-phone);
                }
            }
        }
    
        dd {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: center;
            justify-content: space-between;
            position: relative;
            padding: $dd-padding;
            margin-top: $dd-margin-top;
            border-radius: $dd-radius;
            background-color: $color-bg-settings;
            opacity: 1;
            margin-left: $dd-margin-left;
            transition: opacity .2s linear;

            @include phones {
                margin-left: 0;
            }

            .settings-btn-container {
                white-space: nowrap;
            }

            &.nested {
                margin-left: 15%;
                border-left: .3vw solid $color-white;
                color: $color-white;

                @include phones {
                    margin-left: 0;
                }
            }
    
            button {
                cursor: pointer;
            }
    
            span {
                position: relative;
                padding: 5px;

                @include phones {
                    white-space: normal;
                }
            }
    
            .settings-btn {
                border: 2px solid $color-white;
                border-radius: .8vw;
                color: $color-white;
                font-weight: 500;
                text-align: center;
                background-color: transparent;
                transition: all .1s linear;
                padding: .4vh .5vw;
    
                &.activated {
                    font-weight: 600;
                    color: $color-bg-settings;
                    background-color: $color-white;
                }

                @include phones {
                    border-width: 1px;
                    border-radius: 7px;
                    padding: 3px 4px;
                }
            }
        }

        .settings-hint {
            display: flex;
            flex-flow: row;
            padding: $dd-padding;
            margin-left: $dd-margin-left;
            color: $color-white-ss;

            i {
                padding-right: 0.5vw;
            }

            @include phones {
                margin-left: 0;
            }
        }
    
        .unavailable {
                opacity: .5;
                pointer-events: none !important;
        }
    }

    @include phones {
        width: 85%;
    }

    @include md-screen {
        width: 70%;
    }
}