#spotify-logout-box {
    dt {

        .spotify-icon {
            font-size: 4vw;

            @include phones {
                font-size: $fs-icon-phone + 10px;
            }
        }
    }
}

#playlist-list-box {
    .list-type {
        background-color: transparent !important;
        margin: auto;
    }

    #searchloader {
        transition: max-height .2s $cb-default, margin .2s $cb-default, padding .2s $cb-default;
        max-height: 10vh;
    }

    .playlist {
        white-space: nowrap;
        padding: .7vh !important;
        transition: opacity .5s linear;
        animation: reveal .25s linear;
        animation-fill-mode: forwards;

        .details {
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;

            .playlist-icon {
                height: $sp-icon-fs;
                width: $sp-icon-fs;
                border-radius: 5px;

                @include phones {
                    border-radius: 2px;
                }
            }

            .type {
                color: darken($color-white, 20);
            }

            .name {
                display: inline-block;
                overflow: hidden;
                white-space: nowrap !important;
                max-width: 100%;
            }
        }
    }

    @keyframes reveal {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .searchbox {
        background-color: transparent !important;
        text-align: center;

        .search-hint {
            margin: auto !important;
            display: block;
        }
        
        .playlist-search {
            width: 40%;
            color: $color-white;
            cursor: auto;
            display: inline-block;
            background-color: lighten($color-bg-settings, 10);

            &::selection {
                color: $color-bg;
                background: $color-white;
            }

            @include phones {
                width: 100%;
            }
        }
    }
}

#presentation-box{
    dt i{
        font-weight: 700;
        color: #fcf4ac;
    }
}

#beta-features-box {
    .icon-lab1 {
        color: #8fffb6;
    }
}

#alarm-box {
    #set-alarm-btn {

        &.activated::before {
            content: "Set";
        }
        
        &.btn-dismiss {
            color: $color-white !important;
            background-color: #b10505 !important;
            border-color: #b10505 !important;
        }
        
        &.btn-dismiss::before {
            content: "Dismiss" !important;
        }
    }
}

#pomodoro-box {
    #pomodoro-lable-box {
        transition: background-color .2s linear;

        &.working {
            background-color: $concentration !important;
        }

        &.relaxing {
            color: $color-bg !important;
            background-color: $relax !important;
        }

        #set-pomodoro-btn{

            &.activated::before {
                content: "Start";
            }
            
            &.btn-dismiss {
                color: $color-white !important;
                background-color: $color-bg !important;
                border-color: $color-bg !important;
            }
            
            &.btn-dismiss::before {
                content: "Stop" !important;
            }
        }
    }


    #pomodoro-icon {
        .icon-tomato-22 {
            top: 4px;
            position: relative;
        }
    }
}