$color-white: rgb(245, 245, 245);
$color-white-ss: rgba(245, 245, 245, 0.45);
$color-bg: rgb(29, 29, 29);
$color-bg-settings: rgb(63, 63, 63);
$spotify-color: rgba(29, 185, 84, 1);
$concentration:  #e44242;
$relax:  #3aff80;

$cc-margin-bottom: 10vh;
$sky-icon-size: 5vw;
$sky-icon-size-phones: 7vw;
$cb-default: cubic-bezier(0.37, 0, 0.63, 1);

$alarm-arrow-phone: 24px;
$settings-title-font-size: 2.5vw;   
$settings-title-font-size-phone: 18px;
$settings-icon-font-size: $settings-title-font-size;

$brand-title-font-size: 2.5vw + 0.5;   
$brand-title-font-size-phone: 16px + 8px;

$dd-margin-left: 2.1vw;
$dd-padding: 1.9vh;
$dd-radius: 1.8vh;
$dd-margin-top: 3vh;

$selection-box-font: 1.2vw;
$selection-box-font-phone: 2.2vw;

$settings-font-size: 1.2vw;
$settings-font-size-md: 1.5vw;
$settings-font-size-phone: 10px;

$settings-hint-font-size: $settings-font-size - 0.45;
$settings-hint-font-size-phones: $settings-font-size-phone - 3px;

$alarm-set-size: 2vw;
$alarm-set-size-phone: 2vw;
$alarm-font-size: 4vw;
$alarm-font-size-phone: 0vw;

$xs-phone: 576px;
$phone: 768px;
$md-screen: 992px;
$fs-icon-phone: 24px;

$sp-btn-fs: 1.1vw;
$sp-plh-fs: 1vw;
$sp-art-fs: .7vw;
$sp-icon-fs: 2.2vw;
$sp-border-box: 2px;

@mixin phones {
    @media all and (max-width: $phone) {
        @content
    }
};

@mixin md-screen {
    @media all and (max-width: $md-screen) {
        @content
    }
};

@mixin xs-phone {
    @media all and (max-width: $xs-phone) {
        @content
    }
};