footer {
    color: $color-white;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 70vh;
    justify-content: space-around;

    @include phones {
        height: 400px;
    }

    h1 {
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        margin: 0;
    }

    #made-with-love {
        font-size: $settings-font-size - .1vw;
        text-align: center;

        #log-switch {
            display: block;
            color: $color-white-ss;
            cursor: pointer;
        }

            .fa-heart {
                color: #ff0000;
            }

            @include md-screen {
                font-size: $settings-font-size-md;
            }

            @include phones {
                font-size: $settings-font-size-phone;
            }
        }

    #social-icons-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 20%;
        justify-content: space-around;

        @include phones {
            width: 40%;
        }

        a {
            color: $color-white;
            
            &:visited {
                color: $color-white;
            }
        }

        i {
            font-weight: 500;
            white-space: nowrap;
            transition: color .2s linear;

            &.fa-github {
                filter: invert(black);
                
            }

            &.fa-instagram {
                color: #fc93c8;
            }

            &.fa-spotify {
                color: $spotify-color !important;
            }

            &.fa-twitter {
                color: #50ABF1;
            }
        }
    }

    #link-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        @include phones {
            height: 35%;
            flex-flow: column;
            justify-content: space-around;
        }

        li {
            text-align: center;
            display: inline-block;
            width: 5vw;
            font-size: $settings-font-size - .1vw;

            @include phones {
                display: block;
                width: auto;
                font-size: $settings-font-size-phone !important;
                margin: {
                    left: 0 !important;
                    right: 0 !important;
                }
            }

            &.center-item {
                margin: {
                    left: 4vw;
                    right: 4vw;
                }
            }

            a {
                border-bottom: 2px solid transparent;
                transition: border-color .2s linear;
                cursor: pointer;
                text-decoration: none;

                &.visited {
                    text-decoration: none;
                    color: $color-white;
                }

                &:hover {
                    border-color: $color-white;
                }
            }


            @include md-screen {
                font-size: $settings-font-size-md;
            }
        }
    }

    #follow-me-separator {
        width: 100%;
        color: $color-white;
        text-align: center;

        @include md-screen {
            font-size: $settings-font-size-md;
        }

        @include phones {
            font-size: $settings-font-size-phone;
        }
    }
}