.dt {
    display: table;
}

.dtc {
    display: table-cell;
}

.vam {
    vertical-align: middle;
}

.tac {
    text-align: center;
}

.full-vw {
    width: 100vw;
}

.full-vh {
    height: 100vh;
}

.full-w {
    width: 100%;
}

.m-auto {
    margin: auto;
}

.full-h {
    height: 100%;
}

.skinny {
    margin: 0 !important;
    padding: 0 !important;
}

.no-scrollbar {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */

    &::-webkit-scrollbar {
        display: none; /* WebKit */
    }
}

.hide {
    opacity: 0;
}

.mini {
    max-height: 0vh !important;
    padding: 0 !important;
    margin: 0 !important;
}

.force-hide {
    opacity: 0 !important;
}

.disp-none {
    display: none !important;
}

.transp-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

.full-viewport {
    width: 100%;
    height: 100vh;
    position: relative;

    @media (max-width: $phone) {
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
}

.spotify-icon {
    color: #1DB954;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-flow: column;
}

.blur {
    filter: blur(10px);
}

.pointer {
    cursor: pointer;
}

.bg-center {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.loader-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: $settings-font-size;
    font-size: $settings-font-size;
    flex-grow: 30;
    position: relative;
    
    @media (max-width: $phone) {
        font-size: $settings-font-size-phone;
        height: $settings-font-size-phone;
    }

    

    .status-icon {
        transition: opacity .2s linear;
        font-size: $settings-font-size;
        margin-left: 12px;
        position: absolute;
        left: 0;
        flex-grow: 30;


        &.icon-checkmark {
            color: #00be00;
        }

        &.icon-cross {
            color: #ff0000;
        }

        @media (max-width: $phone) {
            font-size: $settings-font-size-phone;
        }
    }
    
    .loader {
        transform: scale(0.5);
        display: block;
        font-size: inherit;
        transition: opacity .2s linear;

        @media (max-width: $phone) {
            transform: scale(0.3);
        }
    }
}

.feature-box {
    width: 15vw;
    position: absolute;
    border-radius: 10px;
    margin: 1vw;
    padding: .6vw;
    display: flex;
    min-height: 5vh;
    justify-content: flex-start;
    z-index: 2;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    transition: background-color .2s linear;

    @include md-screen {
        padding: .8vw;
        width: 21vw;
    }

    @include phones {
        padding: .8vw;
        width: 25vw;
    }

    @include xs-phone {
        padding: 1vw;
        width: 35vw;
    }
}

.feature-icon {
    font-size: $sp-icon-fs;

    @include md-screen {
        font-size: 3vw;
    }

    @include phones {
        font-size: $sp-icon-fs * 2;
    }

    @include xs-phone {
        font-size: $sp-icon-fs * 2.5;
    }
}

.feature-placeholder {
    font-size: $sp-plh-fs;

    @include md-screen {
        font-size: $sp-plh-fs * 1.5;
    }
    @include phones {
        font-size: $sp-plh-fs * 1.5;
    }
    @include xs-phone {
            font-size: $sp-plh-fs * 2.1;
    }
}