//FONTAWESOME
@import '../../vendors/fontawesome/index.scss';

//VARIABLES
@import '../variables';

//STYLE
@import '../../utils/scss/utils';
@import '../main';

body {
    position: relative;
    margin-top: 30px;
}

header {
    width: 80%;
    display: flex;
    flex-flow: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 20px 20px 5px $color-bg;
    background-color: $color-bg;

    #go-back-arrow {
        display: inline-block;
        font-size: 3vw;
        cursor: pointer;
        flex-grow: 1;
    }

    h1 {
        display: inline-block;
        font-family: 'Source Code Pro';
        font-size: 5vw;
        white-space: nowrap;
        flex-grow: 2;
    }
}

main {
    width: 50%;
    margin: auto;
    z-index: 3;

    @include phones {
        width: 80%;
    }

    h2 {
        font-size: 2vw;
        font-family: 'Source Code Pro';
    }

    :last-child {
        margin-bottom: 5vh;
    }
}

#branding {
    opacity: 0.1;
    right: 0;
    bottom: 0;
    transform: rotate(-45deg) translate(15%, 30%);;
    font-family: 'Source Code Pro';
    font-size: 15vw;
    display: inline-block;
    position: fixed;
    font-weight: 900;
    z-index: 2;

    @include phones {
        font-size: 30vw;
        opacity: 0.05;
        transform: rotate(-45deg) translate(20%, 50%);
    }

    div {
        text-align: center;
    }
}