<section id="alarm-section" class="flex-center focused">
    <div id="alarm-big-clock" class="big-clock">
        <span id="alarm-h"><span id="al-h">00</span><i class="arrow arrowup fas fa-caret-up" data-action="h-up"></i><i
                class="arrow arrowdown fas fa-caret-down" data-action="h-down"></i></span>:<span id="alarm-m"><span
                id="al-m">00</span><i class="arrow arrowup fas fa-caret-up" data-action="m-up"></i><i
                class="arrow arrowdown fas fa-caret-down" data-action="m-down"></i></span><span id="am-pm-alarm"
            class="ampm hide">AM</span>
    </div>
    <div id="alarm-set-box">
        <button id="alarm-set" class="transp-btn"><span id="alarm-set-icon" class="alarm-select-icon"></span></button>
        <i id="alarm-icon" class="icon-clock"></i>
        <button id="alarm-dismiss" class="transp-btn"><span id="alarm-dismiss-icon"
                class="alarm-select-icon"></span></button>
    </div>
    <p id="tomorrow-alarm">test</p>
    <audio id="alarm-sound" loop>
        <source src="/media/alarm.mp3" type="audio/mpeg">
    </audio>
</section>