<footer id="follow-me">
    <div>
        <h1>Follow Relaxing Clock</h1>
    </div>
    <div id="social-icons-container">
        <a href="https://github.com/mijorus/RelaxingClock" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/relaxingclock/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-spotify"></i>
        </a>
    </div>
    <div id="made-with-love">
        Made with <i class="fas fa-heart"></i> by mijorus
    </div>
    <div id="follow-me-separator">
        * * *
    </div>
</footer>