<footer>
    <div id="follow-me">
        <div>
            <h1 class="settings-title">Follow Relaxing Clock</h1>
        </div>
    </div>
    <div id="social-icons-container">
        <a href="{{ site.Params.github }}" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github settings-icon"></i>
        </a>
        <a href="{{ site.Params.instagram }}" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram settings-icon"></i>
        </a>
        <a href="{{ site.Params.spotify }}" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-spotify settings-icon"></i>
        </a>
        <a href="{{ site.Params.twitter }}" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter settings-icon"></i>
        </a>
    </div>
    <div id="follow-me-separator">
        * * *
    </div>
    <ul id="link-list">
        <li><a href="{{ site.BaseURL }}/cookie">Cookie</a></li>
        <li class="center-item"><a href="{{ site.BaseURL }}/faq">FAQ</a></li>
        <li><a href="{{ site.BaseURL }}/credits">Credits</a> </li>
    </ul>
    <div id="follow-me-separator">
        * * *
    </div>
    <div id="made-with-love">
        Made with <i class="fas fa-heart"></i> by {{ site.Params.Author }}
        <p id="log-switch" class="transp-btn">version {{ site.Params.version }}</p>
        <br><br>
    </div>
</footer>