<div id="music-box" class="feature-box unlogged toscreensave">
    <a id="spotify-link" class="relative">
        <i id="spotify-icon" class="fab fa-spotify feature-icon spotify-icon toscreensave bg-center-cover" ></i>
    </a>
    <div id="spotify-text" class="full-w full-h relative">
        <p id="spotify-placeholder" class="spotify-inner-text skinny top-left-0 feature-placeholder relative">Loading...<br></p>
        <div id="spotify-track-info" class="full-h top-left-0 hide">
            <p id="track-name" class="spotify-inner-text skinny top-left-0"></p>
            <p id="artist-name" class="spotify-inner-text skinny top-left-0"></p>
        </div>
    </div>
    <button aria-label="like song" class="like-btn transp-btn sp-btn">
        <i id="like-icon" class="far fa-heart toscreensave"></i>
    </button>
    <button aria-label="play song" class="play-btn transp-btn sp-btn">
        <div id="spotify-loader" class="loader-container full-w full-h top-left-0">
            <div class="loader line-scale"></div>
        </div>
        <i id="playback-icon" class="fas fa-play hide"></i>
    </button>
    <span id="mute-warning" class="sp-btn hide"></span>
    <div id="song-info" class="hide">
        <span id="song-info-thumb" class="bg-center-cover">
            <span id="song-info-thumb-placeholder" class="flex-center full-w full-h">
                <span class="lnr lnr-picture"></span>
            </span>
        </span>
        <span id="song-details">
            <p><strong>Title: </strong><span id="song-det-title">A very awesome song</span></p>
            <p><strong>Artist: </strong><span id="song-det-artist">Some great artists</span></p>
            <p><strong>Album: </strong><span id="song-det-album">A legendary album</span></p>
            <p><strong>Duration: </strong><span id="song-det-durat">will be an endless experience</span></p>
        </span>
    </div>
</div>