<div>
    <form id="review-form" method="GET" data-netlify="true" name="review" netlify-honeypot="gender" action="/thankyou">
        <input type="hidden" name="form-name" value="review" />
        <input type="hidden" name="version" value="{{ site.Params.version }}" />
        <input name="gender" class="gender"/>
        {{ range $i, $sequence := (seq 5) }}
        <label class="star fas fa-star settings-icon pointer" data-value="{{ $sequence }}">
            <input type="radio" name="review" value="{{ $sequence }}">
        </label>
        {{ end }}
    </form>
    <p id="thank-you-box" class="flex-center footer-text">Rate Relaxing Clock</p>
</div>