<div>
    <form data-netlify="true" name="review">
        {{ range $i, $sequence := (seq 5) }}
        <label class="star" data-value="{{ $sequence }}">
            <input type="radio" checked="false" name="radio" value="{{ $sequence }}">
            <button class="checkmark star-icon transp-btn">
                <i class="fas fa-star settings-icon"></i>
            </button>
        </label>
        {{ end }}
    </form>
    <p id="thank-you-box" class="flex-center">Rate Relaxing Clock</p>
</div>