<div>
    <form id="review-form" data-netlify="true" name="review" netlify-honeypot="gander">
        <input type="hidden" name="form-name" value="review" />
        <input name="gender" class="gender"/>
        {{ range $i, $sequence := (seq 5) }}
        <label class="star" data-value="{{ $sequence }}">
            <input type="radio" checked="false" name="radio" value="{{ $sequence }}">
            <button class="checkmark star-icon transp-btn">
                <i class="fas fa-star settings-icon"></i>
            </button>
        </label>
        {{ end }}
    </form>
    <p id="thank-you-box" class="flex-center footer-text">Rate Relaxing Clock</p>
</div>