<div class="brand-box">
    <img src="{{ site.BaseURL }}/img/relaxing-clock-logo-transparent.svg" class="brand-image" alt="relaxing clock brand logo">
    <h1 class="flex-center brand-title">
        Relaxing Clock
    </h1>
</div>
<section id="settings-section" alt="settings">
    <dl>
        {{/*  Spotify  */}}
        {{ partial "settings/spotify.html" }}
        {{/*  Alarm  */}}
        {{ partial "settings/alarm.html" }}
        {{/*  Pomodoro  */}}
        {{ partial "settings/pomodoro.html" }}
        {{/*  High contrast  */}}
        {{ partial "settings/high-contrast.html" }}
        {{/*  Beta  */}}
        <div id="beta-features-box" class="setting-box">
            <dt>
                <i class="icon-lab1 settings-icon"></i>
                <span class="settings-title">Experimental features</span>
            </dt>
            {{ partial "settings/beta/remote-time.html" }}
        </div>
    </dl>
</section>