<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "head/head.html" }}
        {{ partial "head/vendor-css.html" }}
        {{ partial "head/css.html" }}
        <title>{{ site.Title }}</title>
    </head>
    <body>
        <noscript>
            This website requires javascript
        </noscript>
        {{ partial "cookie-banner.html" }}
        {{ partial "alarm-section.html" }}
        <div id="big-container">
            {{ partial "main.html" }}
            {{ partial "settings.html" }}
            {{ partial "footer.html" }}
        </div>
    </body>
    <!-- vendors.js -->
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    {{ $vendorScripts := partial "scripts/vendor-scripts.html" . }}
    <script src="{{ $vendorScripts.RelPermalink }}" 
        crossorigin="anonymous" >
    </script>
    
    <!-- main.js -->
    {{ $main := partial "scripts/scripts.html" . }}
    <script src="{{ $main.RelPermalink }}" 
        crossorigin="anonymous">
    </script>

    <!-- service worker -->
    {{ $cacheFiles := (slice $main.RelPermalink $vendorScripts.RelPermalink) }}
    {{ $sw := partial "scripts/service-worker.html" $cacheFiles }}
    <script src="{{ $sw.RelPermalink }}" 
        crossorigin="anonymous">
    </script>
    </script>

    <!-- service worker registration -->
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('{{ $sw.RelPermalink }}')
                    .then((registration) => {
                        console.log(`Service Worker registered!`);
                    })
                    .catch((error) => {
                        console.error(`Service Worker registration failed: ${error}`)
                    });
            })
        }
    </script>
</html>