<!-- This is the concatenation of every custom js file -->
{{ $scriptsConcat := $pageScripts | resources.Concat "js/pageScripts.js"}}

{{ if site.IsServer }}
{{ $scriptsBundle := $scriptsConcat | fingerprint}}
<script src="{{ $scriptsBundle.RelPermalink }}" crossorigin="anonymous"></script>
{{ else }}
{{ $jsBundleOpt := dict "targetPath" "js/pageScripts.js" "minify" true }}
{{ $scriptsBundle := $scriptsConcat | js.Build $jsBundleOpt | fingerprint}}
<script src="{{ $scriptsBundle.RelPermalink }}" crossorigin="anonymous"></script>
{{ end }}