
{{ if site.IsServer }}
{{ $jsBundleOpt := (dict "target" "esnext" "minify" false "avoidTDZ" true) }}
{{ $bundle := resources.Get "js/main.js" | js.Build $jsBundleOpt}}
{{ $assetsBundle := $bundle | fingerprint}}
<script src="{{ $assetsBundle.RelPermalink }}" crossorigin="anonymous"></script>

{{ else }}
{{ $jsBundleOpt := (dict "target" "esnext" "minify" true "avoidTDZ" true) }}
{{ $bundle := resources.Get "js/main.js" | js.Build $jsBundleOpt}}
{{ $assetsBundle := $bundle | fingerprint}}
<script src="{{ $assetsBundle.RelPermalink }}" crossorigin="anonymous"></script>
{{ end }}